<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login hear</title>
    <link rel="stylesheet" href="login2.css" />
  </head>
  <body>

    <section id="header">
      <a href="#"><img src="img/bull-horn-animal-silhouette-farm-icon-isolated-and-flat-illustration-png_112844.jpg" class="logo" alt="" /></a>
      <div>
        <ul id="navbar">
          <li><a class="active" href="index.html">Home</a></li>
          <li><a href="shop.html">Shop</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li>
            <a href="http://localhost/insert/index.php"><i class="fa-solid fa-user"></i></a>
          </li>
          <li id="lg-bag">
            <a href="cart.html"><i class="fa-solid fa-bag-shopping"></i></a>
          </li>
          <a href="#" id="close"><i class="fa-solid fa-xmark"></i></a>
        </ul>
      </div>
      <div id="mobile">
        <a href="cart.html"><i class="fa-solid fa-bag-shopping"></i></a>
        <i id="bar" class="fas fa-outdent"></i>
      </div>
    </section>
    <div class="container">
      <form action="C:\xampp\htdocs\MAJOR PROJECT PHP\login.php" method="post">
        <h1>Login Form</h1>
        <div class="form-group">
            <label for="">Email id </label>
            <input type="email" id='email' class="form-control" name="email">
        </div>
        <div class="form-group">
            <label for="">password </label>
            <input type="password" id='password' class="form-control" name="password">
        </div>
        <input type="submit" class="btn" value="Login" name="">
      </form>
    </div>
  </body>
</html>
