<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Denim Hunt</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <section id="header">
      <a href="#"><img src="img/logo6.jpg" class="logo" alt=""></a>
      <h3>Denim-Hunt</h3>
      <!-- <a href="#"><img src="img/header_brand_logo_AS.png" class="logo" alt=""></a> -->
      <div>
        <ul id="navbar">
          <li><a  href="index.html">Home</a></li>
          <li><a class="active" href="shop.html">Shop</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="http://localhost/insert/index.php"><i class="fa-solid fa-user"></i></a></li>
          <li id="lg-bag"><a href="cart.html"><i class="fa-solid fa-bag-shopping"></i></a></li>
          <a href="#" id="close"><i class="fa-solid fa-xmark"></i></a>
        </ul>
  
  
      </div>
      <div id="mobile">
        <a href="cart.html"><i class="fa-solid fa-bag-shopping"></i></a>
        <i id="bar" class="fas fa-outdent"></i>
      </div>
    </section>

    <section id="page-header">
      <h2>#stayhome</h2>

      <p>Save more with coupons & up to 70% off!</p>
    </section>

    <section id="product1" class="section-p1">
      <h2>New Arrivals</h2>
      <p>Summer Collection New Morden Design</p>
      <div class="pro-container">
        <div class="pro">
          <img
            src="https://overlays.co/cdn/shop/files/DSC09817_505da20f-95ef-4bc3-9500-5eddf0f701d7.jpg?v=1682933279&width=400"
            alt="front product image">
          <div class="rear-img">
            <img src="https://overlays.co/cdn/shop/files/DSC09906.jpg?v=1682933279&width=400" alt="rear product image">
          </div>
          <div class="des">
            <span>Denim-Hunt</span>
            <h5>Relaxed Fit Men's Free Spirit Tshirt - Beige</h5>
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>₹ 799.00</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-plus cart"></i></a>
        </div>
        <div class="pro">
          <img
            src="https://overlays.co/cdn/shop/files/DSC09706.jpg?v=1682926583&width=400"
            alt=""
          />
          <div class="rear-img">
            <img src="https://overlays.co/cdn/shop/files/DSC09684.jpg?v=1682926583&width=800" alt="rear product image">
          </div>
          <div class="des">
            <span>Denim-Hunt</span>
            <h5>Relaxed Fit Men's Dare To Dream Tshirt - Beige</h5>
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>₹ 799.00</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-plus cart"></i></a>
        </div>
        <div class="pro">
          <img
            src="https://overlays.co/cdn/shop/products/DSC02013.jpg?v=1681972935&width=400"
            alt=""
          />
          <div class="rear-img">
            <img src="https://overlays.co/cdn/shop/products/DSC01997.jpg?v=1681972935&width=800" alt="rear product image">
          </div>
          <div class="des">
            <span>Denim-Hunt</span>
            <h5>Midnight Men's Cargo Pants</h5>
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>₹ 799.00</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-plus cart"></i></a>
        </div>
        <div class="pro">
          <img
            src="https://overlays.co/cdn/shop/products/DSC09472.jpg?v=1682003333&width=400"
            alt=""
          />
          <div class="rear-img">
            <img src="https://overlays.co/cdn/shop/products/new44.jpg?v=1682003333&width=700" alt="rear product image">
          </div>
          <div class="des">
            <span>Denim-Hunt</span>
            <h5>Regular Fit Free Spirit Raglan Tshirt- Red</h5>
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>₹ 799.00</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-plus cart"></i></a>
        </div>
        <div class="pro">
          <img
            src="https://overlays.co/cdn/shop/products/CopyofDSC01666.jpg?v=1680534952&width=300"
            alt=""
          />
          <div class="rear-img">
            <img src="https://overlays.co/cdn/shop/products/CopyofDSC01686.jpg?v=1680197225&width=800" alt="rear product image">
          </div>
          <div class="des">
            <span>Denim-Hunt</span>
            <h5>Relaxed Fit Women's Sea Stallion Tshirt</h5>
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>₹ 799.00 8</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-plus cart"></i></a>
        </div>
        <div class="pro">
          <img
            src="https://overlays.co/cdn/shop/products/CopyofDSC01443.jpg?v=1680534957&width=300"
            alt=""
          />
          <div class="rear-img">
            <img src="https://overlays.co/cdn/shop/products/CopyofDSC01434.jpg?v=1680189499&width=800" alt="rear product image">
          </div>
          <div class="des">
            <span>Denim-Hunt</span>
            <h5>Relaxed Fit Women's OcTee Tshirt</h5>
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>₹ 799.00</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-plus cart"></i></a>
        </div>
        <div class="pro">
          <img
            src="https://overlays.co/cdn/shop/products/DSC00550.jpg?v=1680534963&width=300"
            alt=""
          />
          <div class="rear-img">
            <img src="https://overlays.co/cdn/shop/products/DSC00546.jpg?v=1680190796&width=700" alt="rear product image">
          </div>
          <div class="des">
            <span>Denim-Hunt</span>
            <h5>Relaxed Fit Raglan Crop Top - Black</h5>
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>₹ 799.00</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-plus cart"></i></a>
        </div>
        <div class="pro">
          <img
            src="https://overlays.co/cdn/shop/products/DSC01002.jpg?v=1680534984&width=300"
            alt=""
          />
          <div class="rear-img">
            <img src="https://overlays.co/cdn/shop/products/DSC01032.jpg?v=1680083554&width=800" alt="rear product image">
          </div>
          <div class="des">
            <span>Denim-Hunt</span>
            <h5>Ultramarine Ribbed Full Sleeves Crop Top</h5>
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>₹ 799.00</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-plus cart"></i></a>
        </div>
      </div>
    </section>

    <section id="pagination" class="section-p1">
      <a href="#">1</a>
      <a href="#">2</a>
      <a href="#"><i class="fa-sharp fa-solid fa-arrow-right"></i></a>
    </section>

    <section id="newsletter" class="section-p1 section-m1">
      <div class="newstext">
        <h4>Sign Up For Newsletters</h4>
        <p>
          Sign up to stay updated with new launches and
          <span>cool offers.</span>
        </p>
      </div>

      <div class="form">
        <input type="text" placeholder="Your E-mail" />
        <button class="normal">Sign Up</button>
      </div>
    </section>

    
  <footer class="section-p1">
    <div class="col">
      <img class="logo" src="img/logo3.png" alt="" />
      <h4>Contact</h4>
      <p>
        <strong>Address:</strong> Near Police Station Shahpur,DIST-Burhanpur
      </p>
      <p><strong>Phone:</strong> (+91) 0123456789</p>
      <p><strong>Hours:</strong> 10:00-18:00, Mon - Sat</p>
      <div class="follow">
        <h4>Follow Us</h4>
        <div class="icon">
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-youtube"></i>
        </div>
      </div>
    </div>
    
    <div class="col">
      <h4>Account</h4>
      <a href="login.html">Sign In</a>
      <a href="cart2.html">view Cart</a>
      <a href="cart.html">my Wishlist</a>
      <a href="#">Trake My Order</a>
      <a href="about.html">Help</a>
    </div>

    <div class="col install">
      <h4>Install App</h4>
      <p>From App Store or Google Play</p>
      <div class="row">
        <img src="img/pay/app.jpg" alt="" />
        <img src="img/pay/play.jpg" alt="" />
      </div>
      <p>Secured Payment Gateways</p>
      <img src="img/pay/pay.png" alt="" />
    </div>

    <div class="copyright">
      <p>&copy; 2023,WWW.Denim-Hunt.in</p>
    </div>
  </footer>

    <script src="script.js"></script>
  </body>
</html>
